<div class="posts-main">
    <div class="container">
        <h2>全ての目標・記録</h2>

        <img class="img-thumbnail" src="/assets/udetate_man.001.jpeg" alt="Thumbnail image">
        <div class="targets">
            <p class="targets-title">目標 <%= @targets.size %>件</p>
            <% @targets.each do |target| %>
            <div class="target">
                    <h4><%=link_to(" #{target.date} の目標","/posts/#{target.id}") %></h4>
            </div>
            <% end %>
        </div>
        <div class="records">
            <p class="targets-title">記録 <%= @records.size %>件</p>
            <% @records.each do |record| %>
            <div class="record">
                    <h4><%=link_to(" #{record.date} の記録","/posts/#{record.id}") %></h4>
            </div>
            <% end %>
        </div>
        <%= link_to("戻る","/users/#{@current_user.id}", class: "btn btn-secondary") %>
    </div>
</div>