<!DOCTYPE html>
<html>
  <head>
    <title>PhysicalFitnessTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
<!-- ナビゲーションバー -->    
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/">体力検定Note</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <% if session[:user_id] %>
            <li class="nav-item">
              <%= link_to(@current_user.name, "/users/#{@current_user.id}",class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("目標・記録の登録", "/posts/new",class: "nav-link")%>
            </li>
            <li class="nav-item">
              <%= link_to("全ての目標・記録","/posts/index",class: "nav-link")%>
            </li>       
            <% if session[:user_id] == 1 %>    
            <li class="nav-item">
              <%= link_to("全てのユーザ","/users/index",class: "nav-link")%>
            </li>
            <% end %>
            <li class="nav-item">
              <%= link_to("ログアウト","/logout", {method: "post",class: "nav-link"})%>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to("新規ユーザ登録","/signup",class: "nav-link")%>
            </li>
            <li class="nav-item">
              <%= link_to("ログイン","/login",class: "nav-link")%>
            </li>          
          <% end %>
          <li class="nav-item">
            <%= link_to("このサービスについて","/about",class: "nav-link")%>
          </li>

        </ul>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
      <script type="text/javascript">
        $(function(){
            $(".flash:not(:animated)").fadeIn("slow",function(){
                $(this).delay(3000).fadeOut("slow");
            });
        });
      </script>
    <%end%>
    <%= yield %>
    
    <footer>
      <h6>Coded by K.Hatanaka and Samcoopers </h6>
    </footer>

    </div>
  </body>
</html>
