<!DOCTYPE html>
<html>
  <head>
    <title>PhysicalFitnessTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/">Phy</a>
      </div>
      <ul class="header-menus">


        <% if session[:user_id] %>
        <li>
          <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
        </li>
        <li>
          <%= link_to("目標・記録の登録", "/posts/new")%>
        </li>
        <li>
          <%= link_to("公開ユーザ","/users/index")%>
        </li>
        <li>
          <%= link_to("公開記録","/posts/index")%>
        </li>
        <li>
          <%= link_to("ログアウト","/logout", {method: "post"})%>
        </li>
        <% else %>
        <li>
          <%= link_to("新規ユーザ登録","/signup")%>
        </li>         
        <li>
          <%= link_to("ログイン","/login")%>
        </li>    
        <% end %>

        <li>
          <%= link_to("このサービスについて","/about")%>
        </li>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <%end%>
    <%= yield %>
    
  </body>
</html>
