<!DOCTYPE html>
<html>
  <head>
    <title>PhysicalFitnessTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/">Phy</a>
      </div>
      <ul class="header-menus">
        <li>
          <a href="/posts/index">Posts</ahref>
        </li>
        <li>
          <%= link_to("NEW", "/posts/new")%>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <%end%>
    <%= yield %>
    
  </body>
</html>
